*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:#FFFFFF;
    --black:#000000;
    --gainsboro:#D9D9D9;
    --slategray:#696984;
    --lightseagreen:#49BBBD;
    --yankees-blue:#171B41;
    --lightsteelblue:#B2B3CF;
    --dimgray:#5B5B5B;
    --dark-electric-blue:#626381;
    --mediumslateblue:#545AE8;
    --lightskyblue:#cde5fdb5;
    --aqua:#00FFF0;
    --cosmic-cobalt:#2F327D;
    --roman-silver:#83839A;
    --text-color:#252641;
    --fs-14px:14px;
    --fs-16px:16px;
    --fs-18px:18px;
    --fs-20px:20px;
    --fs-22px:22px;
    --fs-24px:24px;
    --fs-26px:26px;
    --fs-30px:30px;
    --fs-32px:32px;
    --fs-40px:38px;
    --section-padding: 60px 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
    font-family: "Poppins", serif;
    line-height: 1.6;
}
.container {
    margin: auto;
    width: min(1170px , 100% - 40px);
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
input,
button,
textarea{
    color: inherit;
    font: inherit;
    border: none;
    outline: none;
}
img{
    max-width: 100%;
}
/*Utility Classes*/
h1.title{
    font-size: clamp(var(--fs-26px),5vw,var(--fs-40px));
    font-weight: 600;
    color: var(--cosmic-cobalt);
}
h2.title{
    margin-bottom: 20px;
    font-size: clamp(var(--fs-22px),5vw,var(--fs-24px));
    font-weight: 700;
    color: var(--black);
}
h3.title{
    margin: 10px 0;
    font-size:var(--fs-18px);
    font-weight: 500;
    color: var(--text-color);
}
span.title{
    font-size: var(--fs-20px);
    font-weight: 700;
    color: rgba(0 0 0 / .8);
}
.special-description{
    margin-bottom: 30px ;
    font-size: clamp(var(--fs-18px),5vw,var(--fs-20px));
    color: var(--slategray);
}
.description{
    font-size: var(--fs-16px);
    color: var(--slategray);
}
.see-all{
    display: inline-block;
    margin-bottom: 20px;
    font-size: var(--fs-18px);
    font-weight: 600;
    color: var(--lightseagreen);
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: var(--fs-16px);
    font-weight: 600;
    background-color: var(--lightseagreen);
    color: var(--white);
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.i-flex{
    display: inline-flex;
}
.text-center{
    text-align: center;
}
/*Component*/
header{
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px 0;
    background-color: var(--white);
}
header .container{
    align-items: center;
    justify-content: space-between;
}
header .container nav ul a{
    display: block;
    font-size: var(--fs-18px);
    color: var(--dimgray);
}
header .container nav ul li:last-child a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--black);
}
header .container nav input{
    display: none;
}
header .container nav ul li:last-child ul{
    display: none;
    position: absolute;
    z-index: 5;
    width: 115px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0 0 0 / .2);
    transition: all 200ms ease-out;
}
header .container nav ul li:last-child:hover >ul{
    display: block;
}
header .container nav ul li:last-child ul li a{
    margin: 10px 0;
    text-align: center;
}
@media (max-width:991px) {
    header .container nav label{
    cursor: pointer;
    }
    header .container nav >ul{
        position: fixed;
        right: -100%;
        top: 100px;
        z-index: 8;
        max-width: 250px;
        width: 80%;
        padding: 10px 0;
        border-radius: 20px;
        background-color: var(--gainsboro);
        box-shadow: 0 2px 4px 0 rgba(0 0 0 / .4);
        transition: all 200ms ease-out;
    }
    header .container nav>ul>li a{
        margin: 10px 0;
        text-align: center;
    }
    header .container nav input:checked ~ ul{
        right: 15px;
    }
    header .container nav ul li:last-child a{
        flex-direction: row-reverse;
    }
    header .container nav ul li:last-child {
        position: relative;
    }
    header .container nav ul li:last-child ul{
        bottom: -90px;
        left: -115px;
        background-color: var(--gainsboro);
    }
}
@media (min-width:992px) {
    header .container nav label{
        display: none;
    }
    header .container nav >ul{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    header .container nav ul li:last-child a{
        flex-direction: row;
    }
    header .container nav ul li:last-child {
        position: relative;
    }
    header .container nav ul li:last-child ul{
        top: 35px;
        right: -70px;
        background-color: var(--white);
    }
}
section,
footer{
    padding: var(--section-padding);
}
.hero {
    background-color: var(--lightskyblue);
}
.hero .container{
    min-height: calc(100vh - 120px);
    gap: 60px 60px;
}
.hero .container article p:first-child{
    font-size: clamp(var(--fs-18px),4vw,var(--fs-22px));
    color: var(--black);
}
.hero .container article p:first-child span{
    display: inline-block;
    font-weight: 700;
    color: var(--lightseagreen);
}
.hero .container article a.btn{
    border-radius: 12px;
}
@media (min-width:992px) {
    .hero .container{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}
.reading-blog .container .blog-list{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
}
.reading-blog .container .blog-list .blog{
    position: relative;
    max-width: 255px;
    width: 100%;
}
.reading-blog .container .blog-list .blog  span{
    display: inline-block;
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translateX(50%);
    max-width: 180px;
    width: 80%;
    text-align: center;
    padding: 8px 0;
    border-radius: 12px;
    background-color: rgba(255 255 255 / .7);
}
.related-blog{
    background-color: var(--lightskyblue);
}
.container .related-title{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.related-blog .container .lessons{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 100px  40px;
}
.related-blog .container .lessons .lesson{
    max-width: 550px;
    width: 100%;
    padding:30px 20px;
    border: 1px solid var(--black);
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0 18.83px 47.08px 0 rgb(47, 50, 125,.1);
}
.container  .user{
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    font-size: var(--fs-18px);
    font-weight: 500;
}
.related-blog .container .lessons .lesson .details{
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    font-size: var(--fs-18px);
    color: var(--slategray);
}
.related-blog .container .lessons .lesson .details a{
    text-decoration: underline;
}
.related-blog .container .lessons .lesson .details .watching{
    align-items: center;
    gap: 10px;
}
@media (min-width:992px) {
    .related-blog .container .lessons{
        flex-direction: initial;
        justify-content: space-between;
    }
}
.articles .container .articles-list{
    flex-wrap: wrap;
    justify-content: center;
    gap:40px 20px;
}
.articles .container .articles-list .article{
    max-width: 275px;
    width: 100%;
    padding: 15px ;
    border-radius: 20px;
    box-shadow: 0 4px 4px  0 rgb(0 0 0 /.25);
    background-color: var(--white);
}
.articles .container .articles-list .article .categotry{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.articles .container .articles-list .article .categotry .col{
    align-items: center;
    gap: 10px;
    font-size: var(--fs-14px);
    color: var(--slategray);
}
.articles .container .articles-list .article .details {
    align-items: center;
    justify-content: space-between;
}
.articles .container .articles-list .article .details .price{
    align-items: center;
    gap: 10px;
}
.articles .container .articles-list .article .details .price s{
    font-size: var(--fs-16px);
    font-style: italic;
    color: rgb(0, 0, 0,.5);
}
.articles .container .articles-list .article .details .price strong{
    font-size: var(--fs-22px);
    font-weight: 700;
    color: var(--lightseagreen);
}
footer{
    background-color: var(--text-color);
}
footer .container .head{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
footer .container .head>*{
    padding: 0 30px;
    color: var(--lightsteelblue);
}
footer .container .head .logo{
    position: relative;
}
footer .container .head .logo::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 40px;
    background-color: var(--roman-silver);
}
footer .container .form-box p{
    font-size: var(--fs-20px);
    color: var(--lightsteelblue);
}
footer .container .form-box form{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:25px 10px;
    margin: 15px 0 50px 0;
    color: var(--lightsteelblue);
}
footer .container .form-box form input[type="email"]{
    max-width: 400px;
    width: 100%;
    padding: 10px 25px;
    border-radius: 80px;
    border:1px solid var(--roman-silver) ;
    background-color: transparent;
}
footer .container .form-box form input[type="submit"]{
    border-radius: 60px;
}
footer .container .footer-services{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 20px;
}
footer .container .footer-services>*{
    position: relative;
    padding-right: 20px;
    font-size: var(20px);
    color: var(--lightsteelblue);
}
footer .container .footer-services>*:not(:last-child) ::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 2px;
    height:20px;
    transform: translateY(-50%);
    background-color: var(--roman-silver);
}
footer .container .copyright{
    color: var(--lightsteelblue);
}