*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:#FFFFFF;
    --black:#000000;
    --gainsboro:#D9D9D9;
    --slategray:#696984;
    --lightseagreen:#49BBBD;
    --yankees-blue:#171B41;
    --lightsteelblue:#B2B3CF;
    --dimgray:#5B5B5B;
    --dark-electric-blue:#626381;
    --mediumslateblue:#545AE8;
    --lightskyblue:#9DCCFF;
    --aqua:#00FFF0;
    --cosmic-cobalt:#2F327D;
    --roman-silver:#83839A;
    --fs-14px:14px;
    --fs-16px:16px;
    --fs-18px:18px;
    --fs-20px:20px;
    --fs-22px:22px;
    --fs-24px:24px;
    --fs-26px:26px;
    --fs-30px:30px;
    --fs-32px:32px;
    --fs-44px:44px;
    --section-padding: 40px 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
    font-family: "Poppins", serif;
    line-height: 1.6;
}
.container {
    margin: auto;
    width: min(1170px , 100% - 30px);
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
input,
button,
textarea{
    font: inherit;
    border: none;
    outline: none;
}
img{
    max-width: 100%;
}
/*Utility Classes*/
h1.title{
    font-size: var(--fs-44px);
    font-weight: 600;
    color: var(--cosmic-cobalt);
}
h2.title{
    font-size: var(--fs-30px);
    font-weight: 700;
    color: var(--black);
}
h3.title{
    font-size: var(--fs-24px);
    font-weight: 700;
    color: var(--black);
}
.special-description{
    font-size: var(--fs-24px);
    font-weight: 500;
    color: var(--black);
}
.description{
    font-size: var(--fs-22px);
    font-weight: 400;
}
.see-all{
    font-size: var(--fs-20px);
    font-weight: 700;
    color: var(--lightseagreen);
}
.btn{
    display: inline-block;
    font-size: var(--fs-22px);
    font-weight: 400;
    background-color: var(--lightseagreen);
    color: var(--white);
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.i-flex{
    display: inline-flex;
}
/*Component*/
header{
    position: sticky;
    top: 0;
    padding: 10px 0;
    background-color: var(--white);
}
header .container{
    align-items: center;
    justify-content: space-between;
}
header .container nav ul >li a{
    display: block;
    font-size: var(--fs-20px);
    color: var(--dimgray);
}
@media (max-width:991px) {
    header .container nav input{
        display: none;
    }
    header .container nav label{
    cursor: pointer;
    }
    header .container nav >ul{
        position: fixed;
        right: -100%;
        top: 100px;
        max-width: 300px;
        width: 80%;
        padding: 10px 0;
        border-radius: 20px;
        background-color: var(--lightskyblue);
        box-shadow: 0 2px 4px 0 rgba(0 0 0 / .4);
        transition: all 200ms ease-out;
    }
    header .container nav>ul>li a{
        text-align: center;
        margin: 10px 0;
    }
    header .container nav input:checked ~ ul{
        right: 15px;
    }
    header .container nav ul li:last-child a{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 15px;
        color: var(--black);
    }
}